/* @link https://utopia.fyi/clamp/calculator?a=320,1240,30—66 */

:root {
  --fluid-30-66: clamp(1.875rem, 1.0924rem + 3.913vi, 4.125rem);
}

* {
  top: 0;
  left: 0;
  margin: 0;
}

h1 {
  font-size: 3rem;
  color: yellow;
}

a {
  font-size: var(--fluid-30-66);
  text-wrap: wrap;
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: lightseagreen;
}

.img {
  display: flex;
  justify-content: center;
  height: 10rem;
  width: auto;
  border: 2.5rem solid purple;
}

.counters {
  background: blanchedalmond;
  text-align: left;
  padding: 0.5em 8em;
  counter-reset: section-counter;
}

.container {
  border: .2rem dotted  brown;
  padding: 1.2rem 0.7rem;
}

.section { 
  position: relative;
  counter-increment: section-counter;
  margin-bottom: 1.25em;
}

.section::before {
  content: counter(section-counter);
  position: absolute;
  left: -2.5em;
  top: -.5em;
  background: white;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  display: flex; 
  justify-content: center;
  align-items: center;
  border: 1em solid brown;
  color: ivory;
  box-sizing: border-box;
}

li {
  list-style: none;
}

#description {
  border: 1.5em solid magenta;
  padding-inline: 2.4rem;
  padding-block: 5rem;
}

h2 {
  color: blue;
  display: flex;
  justify-content: center;
  font-size: 5rem;
  /* border: 5px solid orangered; */
  padding: 0.75em;
}